<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            color: rgb(214, 226, 226);
            margin: 20px;
            background-color: black;
            font-family: 'Poppins', sans-serif; 
        }
        h2 {
            padding: 2%;
            margin: 0;
            text-align: center; 
        }
    </style>
    
</head>
<body>
    <h2>Employee Details</h2>
</body>
</html>
